swagger: "2.0"
info:
  description: "ShareTrip Contract Service API. Manages company contracts and service availability."
  version: "1.0.1"
  title: "ShareTrip Contract Service"
  contact:
    email: "contracts_service@mail.io"
host: "contracts.service.io"
basePath: "/api/v2"
tags:
  - name: contracts
    description: Contract operations
  - name: services
    description: Services available under a contract
  - name: companies
    description: Company-scoped contract checks
schemes:
  - https
  - http
paths:
  /contracts:
    post:
      tags:
        - contracts
      summary: Create contract for company
      description: Creates a new contract for a company.
      operationId: createContract
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Contract create payload
          required: true
          schema:
            $ref: "#/definitions/ContractRequest"
      responses:
        201:
          description: Contract created
          schema:
            $ref: "#/definitions/ContractResponse"
        400:
          description: Invalid request
          schema:
            $ref: "#/definitions/Error"
        404:
          description: Company not found
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
        503:
          description: Service unavailable
          schema:
            $ref: "#/definitions/Error"

  /contracts/{contractId}:
    get:
      tags:
        - contracts
      summary: Get contract by ID
      description: Returns contract by internal contract ID.
      operationId: getContractByID
      produces:
        - application/json
      parameters:
        - name: contractId
          in: path
          description: Contract ID
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/ContractResponse"
        400:
          description: Invalid request
          schema:
            $ref: "#/definitions/Error"
        404:
          description: Contract not found
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
        503:
          description: Service unavailable
          schema:
            $ref: "#/definitions/Error"
    patch:
      tags:
        - contracts
      summary: Change contract status
      description: Updates only the status of an existing contract.
      operationId: updateContractStatusById
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: contractId
          in: path
          description: Contract ID
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: New contract status
          required: true
          schema:
            $ref: "#/definitions/ContractStatusRequest"
      responses:
        200:
          description: Status updated
          schema:
            $ref: "#/definitions/ContractUpdateStatusResponse"
        400:
          description: Invalid request
          schema:
            $ref: "#/definitions/Error"
        404:
          description: Contract not found
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
        503:
          description: Service unavailable
          schema:
            $ref: "#/definitions/Error"

  /contracts/active:
    get:
      tags:
        - contracts
      summary: Get active contract by company ID
      description: Returns the active contract for a company.
      operationId: getActiveContractByCompanyId
      produces:
        - application/json
      parameters:
        - name: companyId
          in: query
          description: Company ID
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/ContractResponse"
        400:
          description: Invalid request
          schema:
            $ref: "#/definitions/Error"
        404:
          description: Active contract not found
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
        503:
          description: Service unavailable
          schema:
            $ref: "#/definitions/Error"

  /services:
    put:
      tags:
        - services
      summary: Add or update list of services for a contract
      description: >
        Replaces/updates the list of available services for a contract.
        Request must contain contract context and an array of services with enable flags.
      operationId: upsertContractServices
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Contract ID and list of services to enable/disable
          required: true
          schema:
            $ref: "#/definitions/ServicesListRequest"
      responses:
        200:
          description: Services list updated
          schema:
            $ref: "#/definitions/ServicesListResponse"
        400:
          description: Invalid request
          schema:
            $ref: "#/definitions/Error"
        404:
          description: Contract or service not found
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
        503:
          description: Service unavailable
          schema:
            $ref: "#/definitions/Error"

  /companies/{companyId}/services/{serviceCode}/availability:
    get:
      tags:
        - companies
      summary: Check service availability for company
      description: >
        Business check for ShareTrip: can company use the given service now
        (active contract, not expired, service enabled).
      operationId: checkServiceAvailabilityForCompany
      produces:
        - application/json
      parameters:
        - name: companyId
          in: path
          description: Company ID
          required: true
          type: integer
          format: int64
        - name: serviceCode
          in: path
          description: Stable business service code, e.g. trip_creation
          required: true
          type: string
      responses:
        200:
          description: Availability check result
          schema:
            $ref: "#/definitions/AvailabilityResult"
        400:
          description: Invalid request
          schema:
            $ref: "#/definitions/Error"
        404:
          description: Company, contract or service not found
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
        503:
          description: Service unavailable
          schema:
            $ref: "#/definitions/Error"

definitions:
  Error:
    type: object
    description: Common error body for all failed responses
    properties:
      code:
        type: string
        description: Error code
        enum:
          - COMPANY_VALIDATE_ERROR
          - CONTRACT_NOT_FOUND
          - SERVICE_NOT_FOUND
          - SERVICE_DISABLED
          - INTERNAL_SERVER_ERROR
          - SERVICE_UNAVAILABLE
      message:
        type: string
        description: Human-readable error message

  ContractStatus:
    type: string
    description: Contract status
    enum:
      - draft
      - active
      - suspended
      - terminated

  ContractRequest:
    type: object
    required:
      - company_id
      - start_date
      - end_date
    properties:
      contract_number:
        type: string
        description: Business contract number
      company_id:
        type: integer
        format: int64
        description: Company ID
      status:
        $ref: "#/definitions/ContractStatus"
      start_date:
        type: string
        format: date-time
        description: Contract start date
      end_date:
        type: string
        format: date-time
        description: Contract end date

  ContractStatusRequest:
    type: object
    required:
      - status
    properties:
      status:
        $ref: "#/definitions/ContractStatus"

  ContractResponse:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: Internal contract ID
      contract_number:
        type: string
      company_id:
        type: integer
        format: int64
      status:
        $ref: "#/definitions/ContractStatus"
      start_date:
        type: string
        format: date-time
      end_date:
        type: string
        format: date-time
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time

  ContractUpdateStatusResponse:
    type: object
    properties:
      id:
        type: integer
        format: int64
      contract_number:
        type: string
      status:
        $ref: "#/definitions/ContractStatus"

  ServiceItem:
    type: object
    required:
      - service_code
      - is_enabled
    properties:
      service_code:
        type: string
        description: Stable business service code, e.g. trip_creation
      is_enabled:
        type: boolean
        description: Whether this service is enabled for the contract

  ServicesListRequest:
    type: object
    required:
      - contract_id
      - services
    properties:
      contract_id:
        type: integer
        format: int64
        description: Contract whose service list is updated
      services:
        type: array
        description: Full list of services to add/update for the contract
        items:
          $ref: "#/definitions/ServiceItem"

  ServicesListResponse:
    type: object
    properties:
      contract_id:
        type: integer
        format: int64
      services:
        type: array
        items:
          $ref: "#/definitions/ServiceItem"

  AvailabilityResult:
    type: object
    properties:
      company_id:
        type: integer
        format: int64
      service_code:
        type: string
      allowed:
        type: boolean
        description: true if company can use the service now
      reason:
        type: string
        description: Optional reason when allowed=false
